[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-D/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-D/products-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-D/products-microservice.git
